.nav-bar {
    width: 100%;
    min-height: 50px;
    background-color: #f8f8f8;
    text-align: center;
}

.nav-bar li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-bar li a {
    text-decoration-line: none;
    color: #272931;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

li:hover a {
    text-decoration-line: underline;
}

.line {
    position: absolute;
    top: 65%;
    left: 50%;
    width: 4%;
    transform: translateX(-20%);
}