.banner {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    height: auto;
}


/* welcome */

.welcome {
    background-color: #1b1e30;
    width: 100%;
    height: 100vh;
    position: relative;
}


/* logo */

.logo {
    background-color: #3b4259;
    position: absolute;
    height: 5%;
    width: 11%;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    text-align: center;
    box-shadow: 1px 2px 6px 0px #0000001f;
}

img.logo-text {
    width: 90%;
    height: 68%;
    margin-top: 3%;
    margin-bottom: 10px;
}


/* text welcome */

.text-welcome {
    font-size: 0;
    position: absolute;
    color: white;
    left: 50%;
    width: 50%;
    top: 10%;
    transform: translateX(-50%);
    text-align: center;
}

.text-welcome h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 42px;
    letter-spacing: 1px;
    font-weight: 800;
    box-shadow: 1px 2px 6px 0px #0000001f;
}

.text-welcome i {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
    color: #d0d6e4;
    font-weight: 100;
    box-shadow: 1px 2px 6px 0px #0000001f;
}

.text-welcome .button-welcome {
    margin-top: 15px;
}

.button-welcome .btn-l,
.button-welcome .btn-r {
    width: 50%;
    display: inline;
    box-shadow: 1px 2px 6px 0px #0000001f;
}

.button-welcome .btn-l {
    padding-left: 5px;
    padding-right: 5px;
}

.button-welcome .btn-r {
    padding-left: 5px;
    padding-right: 5px;
}

.button-welcome .left,
.button-welcome .right {
    min-width: 170px;
    height: 50px;
    background: none;
    border: 1px solid #4e546e;
    border-radius: 30px;
}

.button-welcome .right {
    background: white;
}

.button-welcome .right span {
    color: black;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.button-welcome .left span {
    font-weight: 800;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


/* template-mid */

.template-mid {
    position: relative;
    height: auto;
    width: 32%;
    top: 36%;
    left: 50%;
    transform: translateX(-50%);
}

.template-mid .screen-body {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 1px;
    transform: translateX(-50%);
}

.template-mid .lower-body {
    position: absolute;
    width: 130%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%);
    top: 100%;
}

.template-mid .template-mid-img {
    width: 100%;
    padding: 10px;
}


/* left  */

.img-601 {
    position: absolute;
    width: 20%;
    height: 25%;
    left: 5%;
    bottom: 11%;
    overflow: hidden;
    box-shadow: 2px 2px 10px 0px #0000014a;
}

.img-601 img {
    width: 100%;
}

.img-603 {
    width: 17%;
    height: 20%;
    left: 14%;
    top: 26%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    box-shadow: 2px 2px 10px 0px #0000014a;
}

.img-603 img {
    width: 100%;
}

.img-604 {
    position: absolute;
    width: 14%;
    height: 16%;
    left: 2%;
    bottom: 45%;
    overflow: hidden;
    box-shadow: 2px 2px 10px 0px #0000014a;
}

.img-604 img {
    width: 100%;
}


/* right  */

.img-602 {
    position: absolute;
    width: 17%;
    height: 19%;
    bottom: 17%;
    right: 10%;
    overflow: hidden;
    box-shadow: 2px 2px 10px 0px #0000014a;
}

.img-602 img {
    width: 100%;
}

.img-605 {
    position: absolute;
    width: 14%;
    height: 16%;
    right: 17%;
    top: 38%;
    overflow: hidden;
    z-index: 1;
    box-shadow: 2px 2px 10px 0px #0000014a;
}

.img-605 img {
    width: 100%;
}

.img-606 {
    width: 17%;
    height: 20%;
    right: 2%;
    top: 26%;
    position: absolute;
    overflow: hidden;
    box-shadow: 2px 2px 10px 0px #0000014a;
}

.img-606 img {
    width: 100%;
}

.Coming-soon {
    width: 7%;
    height: 15%;
    right: 0%;
    top: 55%;
    position: absolute;
    overflow: hidden;
    box-shadow: 2px 2px 10px 0px #0000014a;
}

.Coming-soon img {
    width: 177%;
    position: absolute;
    right: -40%;
    top: 5%;
}

.create-demos {
    width: 100%;
    min-height: 200px;
    position: relative;
}

.big-text {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.big-text .text-background {
    font-size: 65px;
    letter-spacing: 15px;
    color: #f1f1f3;
}

.big-text .text {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateY(-20%) translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #272931;
}

.big-text .title {
    width: 60%;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 8px;
    margin-bottom: 30px;
    transform: translateY(-20%) translateX(-50%);
    font-size: 14px;
    color: #7c7d86;
}

.nav-bar {
    width: 100%;
    height: 50px;
    background-color: #f8f8f8;
    text-align: center;
}

.nav-bar li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-bar li a {
    text-decoration-line: none;
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

li:hover a {
    text-decoration-line: underline;
}

.line {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 4%;
    transform: translateX(-20%);
}